<h2 style="margin: 20px">Добавить новое событие:</h2>

<form id="createEventForm" form action="/eventAdd" method="POST" style="margin: 20px">
  <div class="form-group">
    <label class="col-sm-2 control-label" for="exampleInputDate">Выберите дату</label>
    <input name="date" type="date" class="form-control " id="exampleInputDate" aria-describedby="dateHelp">
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label" for="exampleInputText">Опишите событие</label>
    <input name="events" type="text" class="form-control" id="exampleInputText" aria-describedby="dateHelp">
    </div>
  <div class="form-group">
    <label class="col-sm-2 control-label"for="exampleInputText">Оставьте заметку</label>
    <input name="notes" type="text" class="form-control" id="exampleInputText" aria-describedby="dateHelp">
    </div>
    <button type="submit" class="btn btn-primary">Сохранить</button>
  <button type="s n" class="btn btn-primary">Назад</button>
</form>
