
<h2 class="m-5"><span class="m-50">Дата в усиках</span></h2>

<form class="w-50" id="createEventForm" action="/eventAdd" method="POST">
  <div class="form-group mx-5">
    <label for="exampleInputText">Опишите событие</label>
    <input name="events" type="text" class="form-control" id="exampleInputText" aria-describedby="dateHelp">
    </div>
  <div class="form-group mx-5">
    <label for="exampleInputText">Оставьте заметку</label>
    <textarea name="notes" type="text" class="form-control" id="exampleInputText" aria-describedby="dateHelp"></textarea>
    </div>
    <button type="submit" class="btn btn-dark ml-5 form-group">Сохранить</button>

  <button type="button" action="/main" class="btn btn-outline-dark form-group">Назад</button>

</form>
