
{{#each data}}
<div class="card w-50">
  <div class="card-body">
<h2>{{date}}</h2>

{{#each event}}
<ul class="list-group">
  <li style="font-size: 16px" class="list-group-item list-group-item-action list-group-item-secondary">{{this}}</li>
</ul>

{{/each}}
</div>
</div>
{{/each}}

